---
title: false
styles: true
---

@import "alembic";

@media screen and (min-width: 40em) {
	.content {
  	width: 90%;
  }
}

table {
	border: 1px solid #777777;

	thead {
		background-color: #eeeeee
	}

	th, td {
		padding: 4px;
		border: 1px solid #777777;
	}
}